version: 2.1

orbs:
  codacy: codacy/base@2.14.8
  codacy_plugins_test: codacy/plugins-test@2.0.0

workflows:
  version: 2
  compile_test_deploy:
    jobs:
      - codacy/checkout_and_version:
          write_sbt_version: true
      - codacy/sbt:
          name: publish_docker_local
          cmd: |
            docker build -t codacy-codesniffer-base .

            sudo apt-get update
            sudo apt-get install php php-xml php-dom
            wget https://github.com/phpDocumentor/phpDocumentor2/releases/download/v2.9.1/phpDocumentor.phar
            sudo mv phpDocumentor.phar /usr/local/bin/phpdoc
            sudo chmod +x /usr/local/bin/phpdoc

            sbt "set scalafmtUseIvy in ThisBuild := false;
                 scalafmt::test;
                 test:scalafmt::test;
                 sbt:scalafmt::test;
                 set version in Docker := \"latest\";
                 runMain codacy.codesniffer.docsgen.GeneratorMain;
                 clean;
                 docker:publishLocal"
            docker save --output docker-image.tar $CIRCLE_PROJECT_REPONAME:latest
          persist_to_workspace: true
          cache_prefix: sbt-cache-26012021
          requires:
            - codacy/checkout_and_version
      - codacy_plugins_test/run:
          name: plugins_test
          run_multiple_tests: true
          requires:
            - publish_docker_local
      - codacy/publish_docker:
          context: CodacyDocker
          requires:
            - plugins_test
          filters:
            branches:
              only:
                - master
      - codacy/tag_version:
          name: tag_version
          context: CodacyAWS
          requires:
            - codacy/publish_docker
